html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-family: "SUSE", sans-serif;
    --baby-blue: rgb(231, 246, 252);
    --teal-green: rgb(2, 132, 118);
    --forest-green: rgb(0, 34, 28);
    --teal-blue: rgb(165, 207, 227);
    --white: rgb(255, 255, 255);
    --box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    --border-radius: 0.4rem;
}

body {
    font-family: var(--font-family);
    background-color: var(--teal-blue);
}